:root {
    --rocket-width: 50px;
    --rocket-height: 350px;
    --rocket-aspect-ratio: 7;
    --rh: calc(var(--rocket-height) / var(--rocket-aspect-ratio));
    --emergency-stage-height: calc(var(--rh) / 2);
    --head-stage-height: calc(var(--rh) * 1.5);
    --third-stage-height: calc(var(--rh) * 1);
    --second-stage-height: calc(var(--rh) * 4);
    --first-stage-height: calc(var(--rh) * 2.75);
    --first-stage-width: calc(var(--rocket-width) / 2);
    --flame-width: calc(var(--rocket-width) / 3);
    --flame-height: calc(var(--rocket-height) / 2);
}

* {
    margin: 0;
    padding: 0;
    transition: all 1s ease-in-out;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}