.launcher {
    display: grid;
    place-content: center;
    width: 400px;
    padding-top: 30px;
    transition-delay: 1s;
    position: fixed;
    z-index: 100;
    translate: calc(50vw - 200px) -100%;
}

.visible-launcher {
    translate: calc(50vw - 200px);
}

.start {
    background: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    width: 240px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
}

.hidden-button {
    height: 0;
    scale: 0;
    animation: hide-button 1s linear 1;
}

@keyframes hide-button {
    0% { scale: 1; height: 40px; }
    100% { scale: 0; height: 0; }
}

.launcher h1 {
    color: yellow;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}