.rocket {
    width: var(--rocket-width);
    height: var(--rocket-height);
    position: fixed;
    z-index: 100;
    top: calc(50vh - var(--rocket-height) / 2);
    left: calc(50vw - var(--rocket-width) / 2);
}

.s4 {
    height: var(--emergency-stage-height);
    background: url(/webp/emergency-stage.webp) no-repeat center;
    background-size: 100%;
    transform: translate(15vw, -10vh) rotate(460deg);
}

.head {
    height: var(--head-stage-height);
    background: url(/webp/head-stage.webp) no-repeat center;
    background-size: 100%;
    transform: translate(-15vw, -10vh) rotate(-340deg);
}

.s3 {
    height: var(--third-stage-height);
    background: url(/webp/third-stage.webp) no-repeat center;
    background-size: 100%;
    position: relative;
    transform: translate(-15vw) rotate(-370deg);
}

.s2 {
    height: var(--second-stage-height);
    background: url(/webp/second-stage.webp) no-repeat center;
    background-size: 100%;
    position: relative;
    transform: translate(15vw, -15vh) rotate(380deg);
}

.s1-l, .s1-r {
    height: var(--first-stage-height);
    width: var(--first-stage-width);
    position: absolute;
    bottom: 0;
}

.s1-l {
    background: url(/webp/first-stage-left.webp) no-repeat center;
    background-size: 100%;
    left: 0;
    transform: translate(-15vw, 10vh) rotate(-160deg);
}

.s1-r {
    background: url(/webp/first-stage-right.webp) no-repeat center;
    background-size: 100%;
    right: 0;
    transform: translate(15vw, 10vh) rotate(140deg);
}

.prepared {
    transform: none;
}

.horizontal-head {
    transition-duration: 10s;
    transform: translate(-10vw, calc(var(--rocket-height) / 3.5)) rotate(90deg);
}

.flame::after {
    content: "";
    width: var(--flame-width);
    height: var(--flame-height);
    background: linear-gradient(yellow, orange, transparent);
    filter: blur(5px);
    position: absolute;
    top: 102%;
    left: calc(50% - var(--flame-width) / 2);
    animation: flame-animation 0.05s linear infinite;
}

@keyframes flame-animation {
    0% { translate: 1px 3px; }
    100% { translate: 0px 0px; }
}