.rocket {
    width: var(--rocket-width);
    height: var(--rocket-height);
    position: fixed;
    top: calc(50% - var(--rocket-height) / 2);
    left: calc(50% - var(--rocket-width) / 2);
}

.emergency__stage {
    height: var(--emergency-stage-height);
    background: url(/webp/emergency-stage.webp) no-repeat center;
    background-size: 100%;
    transform: translate(-35vw, calc(var(--rocket-height) / -2)) rotate(-460deg);
}

.head {
    height: var(--head-stage-height);
    background: url(/webp/head-stage.webp) no-repeat center;
    background-size: 100%;
    /* transform: translate(-35vw, calc(var(--rocket-height) / -3)) rotate(-340deg); */
}

.third__stage {
    height: var(--third-stage-height);
    background: url(/webp/third-stage.webp) no-repeat center;
    background-size: 100%;
    position: relative;
    /* transform: translate(-35vw, calc(var(--rocket-height) / -6)) rotate(-370deg); */
}

.second__stage {
    height: var(--second-stage-height);
    background: url(/webp/second-stage.webp) no-repeat center;
    background-size: 100%;
    position: relative;
    /* transform: translate(-35vw, 0) rotate(-400deg); */
}

.first__stage__left, .first__stage__right {
    height: var(--first-stage-height);
    width: var(--first-stage-width);
    position: absolute;
    bottom: 0;
}

.first__stage__left {
    background: url(/webp/first-stage-left.webp) no-repeat center;
    background-size: 100%;
    left: 0;
    /* transform: translate(-35vw, calc(var(--rocket-height) / 2)) rotate(-340deg); */
}

.first__stage__right {
    background: url(/webp/first-stage-right.webp) no-repeat center;
    background-size: 100%;
    right: 0;
    /* transform: translate(-33vw, calc(var(--rocket-height) / 2)) rotate(-550deg); */
}

.flame::after {
    content: "";
    width: var(--flame-width);
    height: var(--flame-height);
    background: linear-gradient(yellow, orange, transparent);
    filter: blur(5px);
    position: absolute;
    top: 102%;
    left: calc(50% - var(--flame-width) / 2);
    animation: flame-animation 0.05s linear infinite;
}

@keyframes flame-animation {
    0% { translate: 1px 3px; }
    100% { translate: 0px 0px; }
}